.center {
  text-align: center;
}

.article-actions {
  border-top: 1px solid #EAEAEA;  
  padding-top: 10px;
}

.footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #EAEAEA;
  color: #777;
}

.description {
  margin-top: 0px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

@import "bootstrap-sprockets";
@import "bootstrap";

